<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760644457167-r1qnododemfmc6bj2n97eqddms58c49q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760644457167-r1qnododemfmc6bj2n97eqddms58c49q</string>
	<key>API_KEY</key>
	<string>AIzaSyActmPaKnVTYcbc0SXpj4tr3W7zjDajkjE</string>
	<key>GCM_SENDER_ID</key>
	<string>760644457167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev42.refrigerator-project-rn</string>
	<key>PROJECT_ID</key>
	<string>refrigerator-project-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>refrigerator-project-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760644457167:ios:ce2b09a2d0ad0e8d001dba</string>
</dict>
</plist>